:root{
    --primary: #694c26;
    --bg:#f1e7da;
    --accent:#deb887;
    --secondary:#f5f5dc;
    --marked:#8e7e69;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    padding: 10px;
} 

.todolist{
    width: 600px;
    max-width: 80vw;
    background-color: var(--accent);
    margin: 5% auto 0;
    padding: 10px;
    border-radius: 10px;
}

.todolist h1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: var(--primary);
    
}

.row{
    height: 3.5rem;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    border-radius: 10px;
    padding: 0 10px;
}

#inputbox{
    height: 3rem;
    width: 80%;
    background: none;
    border:none ;
    outline: none;
    padding: 40px;
    font-size: 1.5rem;
}

button{
    height: 2.5rem;
    width: 3rem;
    border:none ;
    outline: none;
    background-color: var(--accent);
    border-radius :  7px;
    font-size: 1.4rem;
    color: var(--primary);
}

button:hover{
    border: solid 2px var(--primary);
    font-size: 1.8rem;
}

ul li{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    list-style: none;
    margin: 12px 2rem;
    font-size: 1.5rem;
    padding: 0.4rem 2rem;

}
.checked{
    color:var(--marked);
    /* text-decoration: line-through; */
}

li::before{
    content:'\25A2';
    padding-right: 0.5rem;
}

li.checked::before{
    content:'\2714';
}


span::after{
    margin-right: 0px;
    content:"\2716";
    text-align: right;
}

span:hover{
    color: var(--marked);
}
